# Spark artifacts and temporary files
artifacts/

# APIs and Keys
credentials/

# Python virtual environment
venv/

# Testing files and directories
output/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*.backup
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan
terraform/crash.log
terraform/crash.*.log
terraform/.terraformrc
terraform/terraform.rc